<head>
    <title>PokerZero | Build bots that win at Poker.</title>
    <script src="https://kit.fontawesome.com/f272322fbe.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/assets/favicon/favicon-16x16.png">
      <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
         rel = "stylesheet">
      <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
      <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script type="text/javascript" src="static/js/random-name.js"></script>

</head>
<header>

    <div class="logo" onclick="window.location = '/'">
        <img src="/static/assets/logo.webp" alt="Logo" />
        <h1>PokerZero</h1>
    </div>

    <nav>
        <a href="/manage-team">Dashboard</a>
        <a href="/leaderboard">Leaderboard</i></a>
        <a href="https://pokerzero.gitbook.io/pokerzero/" target="_blank">Documentation</a>
        <a href="mailto:pokerzero3@gmail.com">Contact</a>
    </nav>
    <div class="spacer"></div>
    {{ #if user }}
        <a href="/api/signout">Sign out</a>
    {{ /if }}

</header>

<body>
