@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  overscroll-behavior-y: none;
}

body {
  font-family: sans-serif;
  text-align: center;
  background: rgb(25, 19, 53);
  padding: 0;
  margin: 0;
  overscroll-behavior-y: none;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "Kanit", sans-serif;
  color: #ffffff;
  font-weight: 400;
}

h1 {
  font-family: "Kanit", sans-serif;
  font-size: x-large;
  color: white;
  float: left;
  margin: 0;
  background-image: linear-gradient(180deg, #ffffff, #b9b8ff);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

h2 {
  font-family: "Kanit", sans-serif;
  background-color: #f3ec78;
  background-image: linear-gradient(180deg, #e8c1ff, #b336ff);
  background-size: 100%;
  font-weight: 700;
  font-size: 4vmax;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-bottom: 0;
}

h3 {
  font-family: "Kanit", sans-serif;
  background-color: #f3ec78;
  background-image: linear-gradient(180deg, #e8c1ff, #b336ff);
  background-size: 100%;
  font-weight: 700;
  font-size: 3.5vmax;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-bottom: 3vh;
}

h4 {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  background-image: linear-gradient(180deg, #ffffff, #d5d4ff);
  background-size: 100%;
  font-size: 2.5vw;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin: 0;
}

.greetings {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-size: 2.5vmax;
  margin: 0;
}

.greetings span {
  background-image: linear-gradient(180deg, #ffffff, #d5d4ff);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

h5 {
  font-family: "Kanit", sans-serif;
  font-size: medium;
  color: #ffffff;
  font-weight: 500;
  margin: 0;
  margin-bottom: 1vh;
}

h6 {
  font-family: "Kanit", sans-serif;
  font-size: small;
  color: #ffffff;
  font-weight: 400;
  margin: 1vh;
}

p {
  font-family: "Kanit", sans-serif;
  font-size: 1.1vmax;
  color: #ffffff;
  font-weight: 400;
}

.logo {
  overflow: hidden;
  margin-right: 2vw;
  user-select: none;
  cursor: pointer;
}

.logo img {
  float: left;
  margin-right: 7px;
  width: 35px;
  height: auto;
  transition: transform 0.7s ease-in-out;
}

.logo:hover img {
  transform: rotate(360deg);
}

header {
  background: #27262d;
  padding: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 100%;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.2));
}

header a {
  font-family: "Kanit", sans-serif;
  float: left;
  color: #b8add2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: medium;
  font-weight: 400;
}

header a:hover {
  background-color: #353547;
  border-radius: 15px;
  color: rgb(231, 234, 255);
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.floating-picture {
  position: relative;
  margin-bottom: 0;
  margin-top: 8vmin;
  width: 50vw;
  height: auto;
  text-align: center; /* Center the image horizontally */
}

.glow {
  position: absolute;
  left: 50%;
  margin-top: 11vmin;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(255, 202, 255);
  box-shadow: 0 0 60px 30px #fff, /* inner white */ 0 0 100px 60px #f0f,
    /* middle magenta */ 0 0 140px 90px #0ff; /* outer cyan */
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

.picture-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.picture-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  max-width: 800px;
  width: 100%;
}

.picture-wrapper {
  transform-style: preserve-3d;
  display: flex;
  height: 100%;
  height: 50vh;
  border-style: solid;
  border-radius: 5vmin;
  flex-direction: column;
  align-items: center;
  max-width: 30%;
  padding: 15px;
  margin: 10px;
  border-color: #2e2e3f;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  -webkit-box-shadow: -4px 4px 60px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -4px 4px 60px -10px rgba(0, 0, 0, 0.75);
  box-shadow: -4px 4px 60px -10px rgba(0, 0, 0, 0.75);
}

@media (max-width: 980px) {
  .picture-wrapper {
    max-width: 100%;
    height: 100%;
    border: none;
    box-shadow: none;
  }
}
.picture-wrapper:hover {
  background-image: linear-gradient(180deg, #d489ff, #b336ff);
}

.picture-caption {
  text-align: center;
  margin-top: 10px;
}

input[type="text"] {
  font-family: "Kanit", sans-serif;
  font-size: medium;
  color: #444444;
}

.email-container {
  justify-content: center;
  display: flex;
}

.email {
  background: linear-gradient(180deg, #ffffff, #c2c1ff);
  border-radius: 10px;
  border: none;
  width: 18vw;
  height: 5vmin;
  padding: 0.7vw;
  margin: 0;
  margin-top: 2vh;
  margin-right: 10px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.team-name {
  background: linear-gradient(180deg, #ffffff, #c2c1ff);
  border-radius: 10px;
  border: none;
  width: 18vw;
  height: 5vmin;
  padding: 0.7vw;
  margin: 0;
  margin-top: 2vh;
  margin-right: 10px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.join-button {
  background: linear-gradient(180deg, #cf7cff, #b336ff);
  border: none;
  border-radius: 10px;
  color: white;
  padding: 0.6vw;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  display: flex; /* Display as flex container */
  align-items: center; /* Center items vertically */
  font-size: medium;
  font-weight: 500;
  margin-top: 2vh;
  height: 5vmin;
  width: 4vw;
  min-width: 50px;
  cursor: pointer;
  font-family: "Kanit", sans-serif;
  font-size: medium;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.join-button:hover {
  background: linear-gradient(180deg, #c45fff, #9700f5);
}

.login-button {
  background: linear-gradient(180deg, #c45fff, #b336ff);
  border: none;
  border-radius: 0.75vmax;
  color: white;
  padding: 1vmax;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: large;
  font-weight: 500;
  margin-top: 2vh;
  height: auto;
  width: auto;
  min-width: 50px;
  cursor: pointer;
  font-family: "Kanit", sans-serif;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.login-button:hover {
  transform: scale(1.05);
  background: linear-gradient(180deg, #c45fff, #9700f5);
}

.submit-name-button {
  background: linear-gradient(180deg, #cf7cff, #b336ff);
  border: none;
  border-radius: 10px;
  color: white;
  padding: 0.6vw;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  display: flex; /* Display as flex container */
  align-items: center; /* Center items vertically */
  font-size: medium;
  font-weight: 500;
  margin-top: 2vh;
  height: 5vmin;
  width: auto;
  min-width: 50px;
  cursor: pointer;
  font-family: "Kanit", sans-serif;
  font-size: medium;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.submit-name-button:hover {
  background: linear-gradient(180deg, #c45fff, #9700f5);
}

.random-button {
  background: linear-gradient(180deg, #cf7cff, #b336ff);
  border: none;
  border-radius: 10px;
  color: white;
  padding: 0.6vw;
  text-align: center;
  text-decoration: none;
  font-size: medium;
  font-weight: 500;
  height: 5vmin;
  width: auto;
  min-width: 50px;
  cursor: pointer;
  font-family: "Kanit", sans-serif;
  font-size: medium;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.random-button:hover {
  background: linear-gradient(180deg, #c45fff, #9700f5);
}

footer {
  padding: 20px;
  font-family: "Kanit", sans-serif;
  color: white;
  text-align: center;
  font-size: 14px;
}
.spacer {
  flex: 1;
}

*:focus {
  outline: none;
}

#rank {
  font-family: "Kanit", sans-serif;
  font-size: large;
  width: 60%;
  border-collapse: separate;
  border: solid black 1px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
}

#rank tr {
  font-family: "Kanit", sans-serif;
  font-size: medium;
  color: black;
  border-bottom: #353547;
}

th {
  border: none;
}
