.game{
  position: relative;
  justify-content: center;
  align-items: center;
}

.inner{
  position: relative;
  left: 0;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.tricol {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Divide into three rows */
}

.cards{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.card {
  position: relative;
  width: 75px;
  height: 100px;
  background-color: white;
  border-radius: 10px;
  border: 2px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}


.bot{
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid;
  display: flex;
  flex-direction: column;
  width: 80%;
}


.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.suit{
  font-size: 15px;
}

@media screen and (max-width: 600px) {
  .card {
    width: 50px;
    height: 75px;
    font-size: 16px;
  }

  .suit {
    font-size: 10px;
  }

  .rank {
    font-size: 20px;
  }
}


@media screen and (min-width: 1200px) {
  .card {
    width: 100px;
    height: 133px;
    font-size: 24px;
  }

  .suit {
    font-size: 20px;
  }

  .rank {
    font-size: 48px !important;
  }
}

.rank{
  font-size: 32px;
}
.top{
  position: absolute;
  top: 4px;
}
.bottom{
  position: absolute;
  bottom: 4px;
}

/* Example suit styles (customize as needed) */
.spades {
  color: black;
}

.hearts {
  color: red;
}

.diamonds {
  color: red;
}

.clubs {
  color: black;
}
.left{
  position: absolute;
  left: 4px
}
.right{
  position: absolute;
  right: 4px
}

