.menu_bar {
  display: flex;
  margin: 0;
  border: none;
  gap: 20px;
  padding: 6px 20px;

  align-items: center;
  flex-direction: row;
}

.bar_item {
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.nav_group {
  display: flex;
  flex-direction: row;
  gap: 36px;
}
