<!DOCTYPE html>  
<html>

 <head>
    <title>PokerZero | Build bots that win at Poker.</title>
    <script src="https://kit.fontawesome.com/f272322fbe.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/assets/favicon/site.webmanifest">
 </head>

 <body>    
      <header>

           <div class="logo">
              <img src="/static/assets/logo.webp" alt="Logo"/>
              <h1>PokerZero</h1>
           </div>

           <nav>
              <a href="#dashboard">Dashboard &nbsp;<i class="fa-solid fa-lock"></i></a>
              <a href="#leaderboard">Leaderboard &nbsp;<i class="fa-solid fa-lock"></i></a>
              <a href="#documentation">Documentation &nbsp;<i class="fa-solid fa-lock"></i></a>
              <a href="mailto:pokerzero3@gmail.com">Contact</a>
           </nav>

        </header>

        <img src="/static/assets/main.png" class="floating-picture" alt="fancy poker visual"/>
        <h2>Build bots that win at Poker.</h2>
        <h5>PokerZero is a contest that challenges students from around the world to create the best poker bot using math, computer science, and economics.</h5>
        
        <div class="email-container">
           <input type="text" id="Email" class="email" placeholder="Your email"/>
           <button class="join-button">Join</button>
        </div>
        <h6>Sign up for updates on PokerZero. No spam.</h6>

        <h3>How to play</h3>
        
        <section class="picture-section">
           <div class="picture-container">
              
           <div class="picture-wrapper">
                 <img src="/static/assets/build.webp" alt="Picture 1"/>
                 <div class="picture-caption">
                    <h4>Build.</h4>
                    <p>With your team, design and code your bot in the programming language of your choice</p>
                 </div>
              </div>

              <div class="picture-wrapper">
                 <img src="/static/assets/test.webp" alt="Picture 2"/>
                 <div class="picture-caption">
                    <h4>Test.</h4>
                    <p>Keep evaluating your bot on our Poker Engine until you are satisfied with its performance</p>
                 </div>
              </div>

              <div class="picture-wrapper">
                 <img src="/static/assets/compete.webp" alt="Picture 3"/>
                 <div class="picture-caption">
                    <h4>Compete.</h4>
                    <p>Compete against other teams for a chance to win exciting prizes (and glory)!</p>
                 </div>
              </div>

           </div>
        </section>

        <h3>That's it for now!</h3>
        
        <footer>
           Built with &#9829; by Bonnie Li, Tommy He, Alex Waese-Perlman and Santosh Passoubady
        </footer>
 </body> 

</html>